## Objective 1:
- compute latitude deciles and count the number of events of each type, nationwide per decile per month
- these will be saved in a CSV file with 120 rows (one per decile per month) and one column per event type

## Objective 2:
- Count the number of event types (snow, rain, etc.) per state per month for **severe events only**
- Save these in a CSV file with one column per event type and (50 states x 12 months = 600) rows
- Name this file severe_by_state_by_month.csv.

### Personal Notes

#### General:
- it goes without saying the data analysis scripts are "general" scripts in that they **should all be capable of working on all three partitions**

#### Objective 1:
- there are 12 months in a year
- one decile means splitting a 'piece' into equal tenths
- so for the month of January, there will be ie:
Jan 0.0
Jan 0.1
Jan 0.2
...
Jan 1.0
- where floats equate to 0.1 * the value between the min and max values of the recorded weather event's latitude

#### Objective 2:

In [101]:
import pandas as pd
import numpy as np

#### Paths

In [102]:
weather_2020_path = 'C:/Users/tlan4/Documents/Practice Projects/POC-CSV-Pivot-Plots/raw_and_cleaned_data/3 Partitions/weather_2020.csv'

weather_jan_apr_path = 'C:/Users/tlan4/Documents/Practice Projects/POC-CSV-Pivot-Plots/raw_and_cleaned_data/3 Partitions/weather_jan_apr_2020.csv'

weather_jan_aug_path = 'C:/Users/tlan4/Documents/Practice Projects/POC-CSV-Pivot-Plots/raw_and_cleaned_data/3 Partitions/weather_jan_aug_2020.csv'

In [103]:
df_2020 = pd.read_csv(weather_2020_path)

In [4]:
df_jan_apr = pd.read_csv(weather_jan_apr_path)

In [5]:
df_jan_aug = pd.read_csv(weather_jan_aug_path)

In [104]:
df_2020.head()

,index,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,1721,W-1722,Snow,Light,2020-01-01 19:30:00,2020-01-01 22:12:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,1722,W-1723,Snow,Light,2020-01-02 00:32:00,2020-01-02 00:50:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,1723,W-1724,Snow,Light,2020-01-02 01:12:00,2020-01-02 01:30:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,1724,W-1725,Snow,Light,2020-01-02 04:12:00,2020-01-02 04:30:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,1725,W-1726,Snow,Light,2020-01-02 05:30:00,2020-01-02 06:12:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

In [105]:
df_jan_apr.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1722,Snow,Light,2020-01-01 19:30:00,2020-01-01 22:12:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-1723,Snow,Light,2020-01-02 00:32:00,2020-01-02 00:50:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-1724,Snow,Light,2020-01-02 01:12:00,2020-01-02 01:30:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-1725,Snow,Light,2020-01-02 04:12:00,2020-01-02 04:30:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-1726,Snow,Light,2020-01-02 05:30:00,2020-01-02 06:12:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

In [15]:
df_jan_aug.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1722,Snow,Light,2020-01-01 19:30:00,2020-01-01 22:12:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-1723,Snow,Light,2020-01-02 00:32:00,2020-01-02 00:50:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-1724,Snow,Light,2020-01-02 01:12:00,2020-01-02 01:30:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-1725,Snow,Light,2020-01-02 04:12:00,2020-01-02 04:30:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-1726,Snow,Light,2020-01-02 05:30:00,2020-01-02 06:12:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

#### Get all Unique values of Column: Type

In [106]:
unique_types = df_2020['Type'].unique()
sorted(unique_types)

['Cold', 'Fog', 'Hail', 'Precipitation', 'Rain', 'Snow', 'Storm']

#### Calculate Max and Min Values of Latitude of a given DF

In [107]:
selected_df = df_2020

max_value = selected_df.max(axis = 0)['LocationLat']
min_value = selected_df.min(axis = 0)['LocationLat']
print('max value:', max_value)
print('min value:', min_value)

C:\Users\tlan4\AppData\Local\Temp/ipykernel_22352/3880242278.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  max_value = selected_df.max(axis = 0)['LocationLat']

max value: 48.9402
min value: 24.5571

C:\Users\tlan4\AppData\Local\Temp/ipykernel_22352/3880242278.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  min_value = selected_df.min(axis = 0)['LocationLat']

In [108]:
selected_df

,index,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,1721,W-1722,Snow,Light,2020-01-01 19:30:00,2020-01-01 22:12:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,1722,W-1723,Snow,Light,2020-01-02 00:32:00,2020-01-02 00:50:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,1723,W-1724,Snow,Light,2020-01-02 01:12:00,2020-01-02 01:30:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,1724,W-1725,Snow,Light,2020-01-02 04:12:00,2020-01-02 04:30:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,1725,W-1726,Snow,Light,2020-01-02 05:30:00,2020-01-02 06:12:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207893,6274201,W-6276144,Snow,Light,2020-12-14 17:30:00,2020-12-15 01:53:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0
1207894,6274202,W-6276145,Snow,Moderate,2020-12-15 01:53:00,2020-12-15 03:19:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0
1207895,6274203,W-6276146,Snow,Light,2020-12-15 03:19:00,2020-12-15 05:53:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0
1207896,6274204,W-6276147,Snow,Light,2020-12-23 04:24:00,2020-12-23 05:53:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0
1207897,6274205,W-6276148,Snow,Light,2020-12-23 10:53:00,2020-12-23 11:26:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0

#### Calculate Deciles of a given DF

In [109]:
selected_df['Lat Decile'] = pd.qcut(selected_df['LocationLat'], 10)

In [110]:
selected_df

,index,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode,Lat Decile
0,1721,W-1722,Snow,Light,2020-01-01 19:30:00,2020-01-01 22:12:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"(36.821, 38.847]"
1,1722,W-1723,Snow,Light,2020-01-02 00:32:00,2020-01-02 00:50:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"(36.821, 38.847]"
2,1723,W-1724,Snow,Light,2020-01-02 01:12:00,2020-01-02 01:30:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"(36.821, 38.847]"
3,1724,W-1725,Snow,Light,2020-01-02 04:12:00,2020-01-02 04:30:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"(36.821, 38.847]"
4,1725,W-1726,Snow,Light,2020-01-02 05:30:00,2020-01-02 06:12:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"(36.821, 38.847]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207893,6274201,W-6276144,Snow,Light,2020-12-14 17:30:00,2020-12-15 01:53:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,"(41.828, 43.595]"
1207894,6274202,W-6276145,Snow,Moderate,2020-12-15 01:53:00,2020-12-15 03:19:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,"(41.828, 43.595]"
1207895,6274203,W-6276146,Snow,Light,2020-12-15 03:19:00,2020-12-15 05:53:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,"(41.828, 43.595]"
1207896,6274204,W-6276147,Snow,Light,2020-12-23 04:24:00,2020-12-23 05:53:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,"(41.828, 43.595]"
1207897,6274205,W-6276148,Snow,Light,2020-12-23 10:53:00,2020-12-23 11:26:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,"(41.828, 43.595]"

#### Calculate Deciles rank of a given DF

In [111]:
selected_df['Lat Decile Rank'] = pd.qcut(selected_df['LocationLat'], 10, labels = False)

In [112]:
selected_df

,index,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode,Lat Decile,Lat Decile Rank
0,1721,W-1722,Snow,Light,2020-01-01 19:30:00,2020-01-01 22:12:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"(36.821, 38.847]",4
1,1722,W-1723,Snow,Light,2020-01-02 00:32:00,2020-01-02 00:50:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"(36.821, 38.847]",4
2,1723,W-1724,Snow,Light,2020-01-02 01:12:00,2020-01-02 01:30:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"(36.821, 38.847]",4
3,1724,W-1725,Snow,Light,2020-01-02 04:12:00,2020-01-02 04:30:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"(36.821, 38.847]",4
4,1725,W-1726,Snow,Light,2020-01-02 05:30:00,2020-01-02 06:12:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"(36.821, 38.847]",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207893,6274201,W-6276144,Snow,Light,2020-12-14 17:30:00,2020-12-15 01:53:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,"(41.828, 43.595]",7
1207894,6274202,W-6276145,Snow,Moderate,2020-12-15 01:53:00,2020-12-15 03:19:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,"(41.828, 43.595]",7
1207895,6274203,W-6276146,Snow,Light,2020-12-15 03:19:00,2020-12-15 05:53:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,"(41.828, 43.595]",7
1207896,6274204,W-6276147,Snow,Light,2020-12-23 04:24:00,2020-12-23 05:53:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,"(41.828, 43.595]",7
1207897,6274205,W-6276148,Snow,Light,2020-12-23 10:53:00,2020-12-23 11:26:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,"(41.828, 43.595]",7

#### Add a month Column

In [113]:
selected_df['Month'] = pd.DatetimeIndex(selected_df['StartTime(UTC)']).month

In [114]:
selected_df

,index,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode,Lat Decile,Lat Decile Rank,Month
0,1721,W-1722,Snow,Light,2020-01-01 19:30:00,2020-01-01 22:12:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"(36.821, 38.847]",4,1
1,1722,W-1723,Snow,Light,2020-01-02 00:32:00,2020-01-02 00:50:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"(36.821, 38.847]",4,1
2,1723,W-1724,Snow,Light,2020-01-02 01:12:00,2020-01-02 01:30:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"(36.821, 38.847]",4,1
3,1724,W-1725,Snow,Light,2020-01-02 04:12:00,2020-01-02 04:30:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"(36.821, 38.847]",4,1
4,1725,W-1726,Snow,Light,2020-01-02 05:30:00,2020-01-02 06:12:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0,"(36.821, 38.847]",4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207893,6274201,W-6276144,Snow,Light,2020-12-14 17:30:00,2020-12-15 01:53:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,"(41.828, 43.595]",7,12
1207894,6274202,W-6276145,Snow,Moderate,2020-12-15 01:53:00,2020-12-15 03:19:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,"(41.828, 43.595]",7,12
1207895,6274203,W-6276146,Snow,Light,2020-12-15 03:19:00,2020-12-15 05:53:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,"(41.828, 43.595]",7,12
1207896,6274204,W-6276147,Snow,Light,2020-12-23 04:24:00,2020-12-23 05:53:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,"(41.828, 43.595]",7,12
1207897,6274205,W-6276148,Snow,Light,2020-12-23 10:53:00,2020-12-23 11:26:00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0,"(41.828, 43.595]",7,12

### Data Analysis 1 Mental Model
- 12 months with 10 deciles per month on the x labels
- all event types, ['Cold', 'Fog', 'Hail', 'Precipitation', 'Rain', 'Snow', 'Storm'], on the y labels

In [115]:
selected_columns = selected_df[['Month', 'Lat Decile Rank', 'Lat Decile', 'Type']]

selected_columns

         Month  Lat Decile Rank        Lat Decile  Type
0            1                4  (36.821, 38.847]  Snow
1            1                4  (36.821, 38.847]  Snow
2            1                4  (36.821, 38.847]  Snow
3            1                4  (36.821, 38.847]  Snow
4            1                4  (36.821, 38.847]  Snow
...        ...              ...               ...   ...
1207893     12                7  (41.828, 43.595]  Snow
1207894     12                7  (41.828, 43.595]  Snow
1207895     12                7  (41.828, 43.595]  Snow
1207896     12                7  (41.828, 43.595]  Snow
1207897     12                7  (41.828, 43.595]  Snow

[1207898 rows x 4 columns]

In [116]:
# code used to play around with pivot_table
analysis_incomplete = pd.pivot_table(selected_columns, 
                    columns = ['Type'],
                    index = ['Month'], 
                    aggfunc = 'count')

analysis_incomplete

# note: having a heirarchal index causes issues for getting count of type for month, and then Lat Decile Rank.

      Lat Decile                                                \
Type        Cold    Fog Hail Precipitation   Rain   Snow Storm
Month
1           2653  36833   10          1264  58435  37313   804
2           3222  26391    9          1049  55208  30532   610
3           1679  30298   12          1960  74397  16493   704
4           1953  18434   19          2451  61953  13773   576
5           2240  19505   13          3458  73240   2124   607
6           2319  17286    6          4005  56475    225  1003
7           2730  21338    7          5338  50435      3   378
8           2626  24546   17          4400  50280      3   434
9           2260  34321    1          2275  58805   1034   334
10          2045  35252    7          1323  53104   9295   598
11          1684  25872    2          1147  48744  10665   684
12          2088  25530   10           625  39497  25501  1119

      Lat Decile Rank
Type             Cold    Fog Hail Precipitation   Rain   Snow Storm
Month
1                2653  36833   10          1264  58435  37313   804
2                3222  26391    9          1049  55208  30532   610
3                1679  30298   12          1960  74397  16493   704
4                1953  18434   19          2451  61953  13773   576
5                2240  19505   13          3458  73240   2124   607
6                2319  17286    6          4005  56475    225  1003
7                2730  21338    7          5338  50435      3   378
8                2626  24546   17          4400  50280      3   434
9                2260  34321    1          2275  58805   1034   334
10               2045  35252    7          1323  53104   9295   598
11               1684  25872    2          1147  48744  10665   684
12               2088  25530   10           625  39497  25501  1119

In [117]:
analysis_1 = selected_columns.pivot_table(
                columns = ['Type'],
                           index = ['Month', 'Lat Decile Rank', 'Lat Decile'],
                           aggfunc = len)
# user can decide on decile rank or decile range

analysis_1

Type                                                 Cold     Fog  Hail  \
Month Lat Decile Rank Lat Decile
1     0               (24.555999999999997, 31.022]  283.0  4342.0   NaN
      1               (31.022, 33.53]               238.0  3963.0   NaN
      2               (33.53, 35.135]               252.0  3316.0   1.0
      3               (35.135, 36.821]              137.0  3047.0   NaN
      4               (36.821, 38.847]              262.0  3450.0   1.0
...                                                   ...     ...   ...
12    5               (38.847, 40.601]              110.0  2094.0   NaN
      6               (40.601, 41.828]              195.0  2670.0   1.0
      7               (41.828, 43.595]              131.0  2573.0   2.0
      8               (43.595, 45.596]              119.0  2389.0   NaN
      9               (45.596, 48.94]               313.0  3560.0   3.0

Type                                                Precipitation    Rain  \
Month Lat Decile Rank Lat Decile
1     0               (24.555999999999997, 31.022]          229.0  6872.0
      1               (31.022, 33.53]                       317.0  8529.0
      2               (33.53, 35.135]                       261.0  8225.0
      3               (35.135, 36.821]                      187.0  7066.0
      4               (36.821, 38.847]                      139.0  6274.0
...                                                           ...     ...
12    5               (38.847, 40.601]                       27.0  3078.0
      6               (40.601, 41.828]                       14.0  3080.0
      7               (41.828, 43.595]                        4.0  2917.0
      8               (43.595, 45.596]                       40.0  2509.0
      9               (45.596, 48.94]                         NaN  3050.0

Type                                                  Snow  Storm
Month Lat Decile Rank Lat Decile
1     0               (24.555999999999997, 31.022]    19.0   14.0
      1               (31.022, 33.53]                161.0   45.0
      2               (33.53, 35.135]                277.0   69.0
      3               (35.135, 36.821]               918.0   45.0
      4               (36.821, 38.847]              2194.0   33.0
...                                                    ...    ...
12    5               (38.847, 40.601]              3323.0   90.0
      6               (40.601, 41.828]              4015.0  199.0
      7               (41.828, 43.595]              4721.0  172.0
      8               (43.595, 45.596]              4543.0  295.0
      9               (45.596, 48.94]               4897.0  181.0

[120 rows x 7 columns]

#### Output to a csv

In [118]:
analysis_1.to_csv('C:/Users/tlan4/Documents/Practice Projects/POC-CSV-Pivot-Plots/raw_and_cleaned_data/Output Csvs/types_by_latitude_by_month.csv', index = False)

### Data Analysis 2 Mental Model
- y labels: states, then month
- x labels: event types
- only want severe events

In [119]:
# selected_df
# a_2_columns = analysis_2_columns
a_2_columns = selected_df[['Type', 'Month', 'State', 'Severity']]
a_2_columns

         Type  Month State  Severity
0        Snow      1    CO     Light
1        Snow      1    CO     Light
2        Snow      1    CO     Light
3        Snow      1    CO     Light
4        Snow      1    CO     Light
...       ...    ...   ...       ...
1207893  Snow     12    WY     Light
1207894  Snow     12    WY  Moderate
1207895  Snow     12    WY     Light
1207896  Snow     12    WY     Light
1207897  Snow     12    WY     Light

[1207898 rows x 4 columns]

In [120]:
unique_types = df_2020['Severity'].unique()
sorted(unique_types)

['Heavy', 'Light', 'Moderate', 'Other', 'Severe', 'UNK']

In [121]:
severe_events = a_2_columns[a_2_columns['Severity'] == 'Severe']
severe_events

          Type  Month State Severity
9          Fog      1    CO   Severe
29       Storm      2    CO   Severe
30       Storm      2    CO   Severe
31       Storm      2    CO   Severe
32       Storm      2    CO   Severe
...        ...    ...   ...      ...
1207831    Fog      9    WY   Severe
1207834   Cold      9    WY   Severe
1207840    Fog      9    WY   Severe
1207884   Cold     12    WY   Severe
1207889    Fog     12    WY   Severe

[281941 rows x 4 columns]

In [122]:
analysis_2 = severe_events.pivot_table(columns = ['Type', 'Severity'],
                                      index = ['State', 'Month'],
                                      aggfunc = len)
analysis_2

Type          Cold    Fog  Storm
Severity    Severe Severe Severe
State Month
AL    1       41.0  691.0    6.0
      2       29.0  536.0    2.0
      3       38.0  864.0    2.0
      4       50.0  293.0    6.0
      5       33.0  374.0    1.0
...            ...    ...    ...
WY    8      149.0   51.0   25.0
      9       74.0  109.0   43.0
      10     103.0  166.0  130.0
      11      22.0   63.0   95.0
      12      79.0  174.0  142.0

[576 rows x 3 columns]

In [123]:
analysis_1.to_csv('C:/Users/tlan4/Documents/Practice Projects/POC-CSV-Pivot-Plots/raw_and_cleaned_data/Output Csvs/severe_by_state_by_month.csv', index = False)